/.idea/
app/.DS_Store
app/src/.DS_Store
gradle/.DS_Store
build/
app/release
.gradle/
.DS_Strore
.gradle/6.5/vcsMetadata-1/
.gradle/6.5/executionHistory/executionHistory.bin
.project
app/.settings/org.eclipse.buildship.core.prefs
app/.classpath
.settings/
.gradle/6.5/executionHistory/executionHistory.bin
.gradle/6.5/executionHistory/executionHistory.lock
.gradle/6.5/fileHashes/fileHashes.bin
.gradle/6.5/fileHashes/fileHashes.lock
.gradle/6.5/fileHashes/resourceHashesCache.bin
.gradle/6.5/javaCompile/classAnalysis.bin
.gradle/6.5/javaCompile/jarAnalysis.bin
.gradle/6.5/javaCompile/javaCompile.lock
.gradle/6.5/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.gradle/6.5/executionHistory/executionHistory.bin
.gradle/6.5/executionHistory/executionHistory.lock
.gradle/6.5/fileHashes/fileHashes.bin
.gradle/6.5/fileHashes/fileHashes.lock
.gradle/6.5/fileHashes/resourceHashesCache.bin
.gradle/6.5/javaCompile/classAnalysis.bin
.gradle/6.5/javaCompile/jarAnalysis.bin
.gradle/6.5/javaCompile/javaCompile.lock
.gradle/6.5/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.DS_Store
